.profile {
    &__content {
        @include md(flex-direction, column);
        @include md(align-items, center);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: {
            left: 0;
            right: 0;
        }
        @include col();
        @include size(8);
        @include size-xl(12);
        @include lg(justify-content, center);
    }
    &__wrapper {
        @include md(margin-bottom, 20px);
        position: relative;
        margin-bottom: 90px;
    }
    &__title {
        margin-bottom: rem(40);
    }
    &__img {
        @include col();
        @include size(2);
        @include size-xl(4);
        @include size-lg(6);
        @include md(width, auto);
        @include md(margin-bottom, rem(30));
        position: relative;
        margin-bottom: rem(60);
    }
    &__member {
        @include md(right, 0);
        @media (max-width: $break_xl)  {
            right: 10%;
        }
        @media (max-width: $break_lg)  {
            right: 0%;
        }
        @include sm(max-width, 100%);
        width: 360px;
        float: right;
        overflow: auto;
        position: relative;
        right: 20%;

    }
    &__info {
        @include col();
        @include size(9);
        @include size-xl(7);
        @include size-lg(11);
        @include size-sm(12);
        position: relative;
        z-index: 1;
    }
    &__beforeafter {
        @include row-flex();
        justify-content: flex-start;
        &-item {
            @include col();
            margin-bottom: rem(10);
            padding: rem(8) rem(16);
            border-radius: 12px;
            &_red {
                background-color: $red;
                color: $white;
            }
            &_green {
                background-color: $green;
                color: $black;
            }
        }
    }
    &__card-inner {
        padding: {
            left: rem(60);
            right: rem(60);
            top: rem(30);
            bottom: rem(30);
        }
        @media (max-width: $break_md) {
            padding: {
                left: rem(30);
                right: rem(30);
                top: rem(20);
                bottom: rem(20);
            }
        }
    }
    &__card-title {
        margin-bottom: rem(20);
        font-family: "Gotham";
        font-size: rem(18);
        font-weight: bold;
        padding-left: rem(35);
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            width: 100%;
            background: url('#{$sprite}comma') no-repeat;
            width: rem(36);
            height: rem(27);
            position: absolute;
            top: rem(3);
            left: 0;
        }

        @media (max-width: $break_md) {
            @include h4();
        }
    }
    &__parallax {
        position: absolute !important;

        img {
            min-width: 100%;
        }

        &_chevron {
            @include lg(min-width, rem(100));
            @include lg(left, 80%);
            @include lg(bottom, 10%);
            bottom: 15%;
            left: rem(16);
            z-index: 1;
            min-width: rem(150);
        }
        &_dots {
            @include lg(min-width, rem(250));
            @include lg(left, 35%);
            @include lg(top, 10%);
            @include md(left, 10%);
            top: 20%;
            left: -220%;
            min-width: rem(360);
        }
        &_up {
            @include lg(min-width, rem(125));
            @include lg(left, -10%);
            @include md(left, 0%);
            min-width: rem(175);
            left: -270%;
        }
    }

    &__conclusion {
        &-title {
            margin-bottom: rem(30);
        }
        &-inner {
            padding: {
                left: rem(60);
                right: rem(60);
                top: rem(30);
                bottom: rem(30);
            }
            @media (max-width: $break_md) {
                padding: {
                    left: rem(30);
                    right: rem(30);
                    top: rem(20);
                    bottom: rem(20);
                }
            }
        }
    }
}
