// COLORS
$black: #000;
$primaryText: #232323;
$red: #EF4537;
$white: #fff;
$shadow: #FFE2DD;
$iconFill: #A6B1E1;
$iconOutline: #0F274D;
$primaryGradient: linear-gradient(90deg, #AE2F24 0%, #EF4537 100%);
$wave: linear-gradient(180deg, #FFE2DD 0%, #FEF9F6 100%);
$chartGranient: linear-gradient(180deg, #A8F454 0%, #A6B1E1 81.77%);
$background: #FEF9F6;
$border: #C2C2C2;
$blue: #3282B8;
$accordeon: #FFF7F5;
$pink: #FCEDE8;
$whatsapp:#50D890;
$telegram: #00A8CC;
$whatsappGradient: linear-gradient(180deg, rgba(80, 216, 144, 0.85) 0%, #50D890 100%);
$telegramGradient: linear-gradient(180deg, rgba(0, 168, 204, 0.85) 0%, #00A8CC 100%);
