.line-block {
    padding: {
        top: rem(60);
        bottom: rem(60);
    };
    margin-bottom: rem(100);
    color: $white;
    background-color: $red;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);

    @media (max-width: $break_md) {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    }

    &_profile {
        @include lg(margin-top, rem(-50));
        @include md(margin-top, 0);
        margin-top: rem(-100);
        position: relative;
        z-index: 1;
    }
    &__list {
        @include xl(width, 100%);
        @include md(flex-direction, column);
        @include md(align-items, center);
        justify-content: space-between;
        width: col(11);
        margin: {
            left: auto;
            right: auto;
        }
    }

    &__item {
        @include col();
        @include size(4);
        @include size-md(7);
        @include size-sm(10);
        @include size-xs(12);
        @include md(margin-bottom, rem(40));
        @include xl(padding-left, rem(0));
        @include xl(padding-right, rem(0));
        padding: {
            left: rem(15);
            right: rem(15);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        @include h3();
        margin-bottom: rem(15);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__description {
        @include h4();
        margin-bottom: rem(15);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
