.header {
    overflow: hidden;
    padding-top: rem(116);
    padding-bottom: rem(125);
    @include md(padding-top, 0);
    background: {
        image: url(../img/header-wave.svg), linear-gradient(180deg, #FFE2DD 0%, #FEF9F6 57.29%);
        position: center bottom, top center;
        repeat: no-repeat;
        size: 100% auto, 100% 50%;
    }
    &_no-bg {
        background-image: none;
    }
    @media (max-width: $break_md) {
        padding-bottom: rem(30);
        background: {
            size: cover;
            position: 37% 0, top center;
        }
    }

    &__container {
        @include container();
        padding-top: rem(30);
        position: relative;
    }
    &__wrapper {
        @include row-flex();
        justify-content: center;
        align-items: center;

        &_mobile {
            @media (max-width: $break_md) {
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }
    &__btn {
        min-width: rem(250);
        @include sm(display, block);
        margin-bottom: rem(40);
    }
    &__notify-mobile {
        @include col();
        @include sm(display, block);
        display: none;
        color: #B9B9B9;
    }
    &__notify-icon {
        display: inline-block;
        max-width: rem(8);
        max-height: rem(12);
        margin-right: rem(5);
    }
    &__info {
        @include col();
        @include size(7);
        @include size-lg(12);
        @include lg(padding-left, 0);
        padding-left: rem(40);
        // @include size(7);
        // @include shift-right(1);

        // @include size-lg(10);
        // @include shift-lg-right(0);
        @include lg(margin-bottom, rem(40));


        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        mark {
            display: inline-block;
            color: $red;
            background-color: transparent;
        }
    }
    &__title {
        // @include h2();
        @include sm(font-size, rem(27));
        font-size: rem(38);
        margin-bottom: rem(25);
        text-transform: uppercase;
    }
    &__subtitle {
        @include h3();

        @include md(display, none);
        margin-bottom: rem(48);
    }
    &__form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__description {
        @include col();
        @include size(9);
        @include size-lg(10);

        @include size-md(6);

        @include size-sm(8);

        @include size-xs(11);
        margin-top: rem(65);
    }
    &__video-wrp {
        position: relative;
        @media (max-width: $break_md) {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
        }
        @media (max-width: $break_sm) {
            height: 100%;
        }
        @include col();
        @include size(5);
        @include size-lg(12);
        display: flex;
        justify-content: center;
        height: rem(355);
    }
    &__video {
        @media (max-width: $break_lg) {
            display: flex;
            justify-content: center;
        }
        width: 100%;
        position: relative;
    }
    &__picture  {
        position: relative;
        &:after, &:before {
            @media (max-width: $break_lg) {
                display: none;
            }
            content: '';
            display: inline-block;
            border: 1px solid #FFDAD4;
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 0;
        }
        &:after {
            width: rem(1000);
            height: rem(1000);
        }
        &:before {
            width: rem(700);
            height: rem(700);
        }
    }
    &__image {
        @media (max-width: $break_xl) {
            right: rem(-16);
        }
        @media (max-width: $break_lg) {
            top: inherit;
            right: inherit;
            margin: 0 auto;
            max-width: 100%;
        }
        @media (max-width: $break_md) {
            max-width: rem(550);
        }
        @media (max-width: $break_sm) {
            max-width: rem(310);
        }
        position: relative;
        top: rem(-50);
        right: rem(65);
    }
    &__img-mob {
        @include lg(display, block);
        display: none;
        max-width: 100%;
    }
    &__link-wrp {
        @media (max-width: $break_xl) {
            right: 9%;
        }
        @media (max-width: $break_lg) {
            right: 50%;
            left: 50%;
            transform: inherit;
            transform: translate(-50%, -50%);
        }
        @media (max-width: $break_md) {
            top: 39%;
        }
        @media (max-width: $break_sm) {
            top: 40%;
        }
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
        right: 25%;
    }
    &__link {
        @media (max-width: $break_lg) {
            top: rem(10);
            left: rem(-35);
        }
        @include sm(left, rem(-17));
        @include sm(width, rem(36));
        @include sm(height, rem(36));
        display: inline-block;
        width: rem(72);
        height: rem(72);
        border-radius: 50%;
        position: relative;
        top: rem(-20);
    }
    &__link-wrp_desk {
        position: absolute;
        right: rem(130);
        top: rem(360);
    }
    &__knowing {
        @media (max-width: $break_xl) {
            left: rem(-206);
        }
        @media (max-width: $break_lg) {
            right: 50%;
            left: 50%;
            top: 0;
        }
        @media (max-width: $break_sm) {
            top: rem(-30);
        }
        position: absolute;
        bottom: rem(-12);
        left: rem(-277);
    }
    &__knowing-wrp {
        @media (max-width: $break_lg) {
            display: block;
            width: rem(293);
            padding-right: rem(16);
            top: rem(-10);
            left: 50%;
            right: 50%;
            transform: translateX(-50%) rotate(-4deg);
            &:before {
                content: '';
                width: rem(1);
                height: rem(52);
                background-color: #000;
                display: inline-block;
                position: absolute;
                right: 50%;
                left: 49.6%;
                transform: translateX(-50%) rotate(5deg);
                top: rem(38);
            }
            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: rem(8) rem(4) 0 rem(4);
                border-color: #000000 transparent transparent transparent;
                position: absolute;
                right: 50%;
                left: 48.9%;
                transform: translateX(-50%) rotate(5deg);
                top: rem(87);
            }
        }

        @media (max-width: $break_sm) {
            top: rem(-10);
        }
        @media (max-width: $break_xs) {
            top: rem(-28);
        }
        width: rem(311);
        transform: rotate(-4deg);

        background-color: white;
        padding-top: rem(8);
        padding-bottom: rem(8);
        padding-left: rem(16); 
        padding-right: rem(34);
        border-radius: rem(8);
    }
    &__paragraph {
        @media (max-width: $break_lg) {
            font-size: rem(16);
        }
        margin: 0;
        padding: 0;
        position: relative;
        &::before {
            @media (max-width: $break_lg) {
                left: 49%;
                right: 50%;
                transform: translateY(-50%);
                top: rem(27);
                animation: none;
            }
            content: '';
            width: rem(8);
            height: rem(8);
            display: inline-block;
            background-color: $red;
            border-radius: 50%;
            position: absolute;
            right: rem(-13);
            top: 50%;
            bottom: 50%;
            transform: translateY(-50%);
            animation: dot 1.3s infinite linear
        }
        span {
            color: red;
        }
    }
    &__button-wrp {
        @media (max-width: $break_md) {
            display: flex;
            flex-direction: column;
        }
    }
    &__svg-logo-wrp {
        @include md(display, none);
        position: absolute;
        top: rem(18);
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        max-width: 3.8125rem;
        min-width: 3.8125rem;
    }
}

.header-profile {
    @media (max-width: $break_sm) {
        padding-top: rem(210)
    }
    &__svg {
        @media (max-width: $break_sm) {
            display: block;
        }
        top: rem(32);
    }
}

@keyframes dot {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: $red;
    }
    100% {
        background-color: transparent;
    }
}