.header {
    padding-bottom: rem(125);
    background: {
        image: url(../img/header-wave.svg), linear-gradient(180deg, #FFE2DD 0%, #FEF9F6 57.29%);
        position: center bottom, top center;
        repeat: no-repeat;
        size: 100% auto, 100% 50%;
    }
    &_no-bg {
        background-image: none;
    }
    @media (max-width: $break_md) {
        padding-bottom: rem(30);
        background: {
            size: cover;
            position: 37% 0, top center;
        }
    }

    &__container {
        @include container();
        padding-top: rem(30);
    }
    &__wrapper {
        @include row-flex();
        justify-content: center;
        align-items: center;

        &_mobile {
            @media (max-width: $break_md) {
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }
    &__btn-mobile {
        @include sm(display, block);
        margin-bottom: rem(40);
    }
    &__notify-mobile {
        @include col();
        @include sm(display, block);
        display: none;
        color: #B9B9B9;
    }
    &__notify-icon {
        display: inline-block;
        max-width: rem(8);
        max-height: rem(12);
        margin-right: rem(5);
    }
    &__info {
        @include col();
        @include size(7);
        @include shift-right(1);

        @include size-lg(10);
        @include shift-lg-right(0);
        @include lg(margin-bottom, rem(40));

        @include size-sm(12);

        display: flex;
        flex-direction: column;
        justify-content: center;
        mark {
            display: inline-block;
            color: $red;
            background-color: transparent;
        }
    }
    &__title {
        @include h2();
        margin-bottom: rem(25);
        text-transform: uppercase;
    }
    &__subtitle {
        @include h3();

        @include md(display, none);
        margin-bottom: 48px;
    }
    &__form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__description {
        @include col();
        @include size(9);

        @include size-lg(10);

        @include size-md(6);

        @include size-sm(8);

        @include size-xs(11);
        margin-top: rem(65);
    }
    &__video-wrp {
        @media (max-width: $break_md) {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
        }
        @include lg(position, relative);
        @include col();
        @include size(4);
        @include size-lg(12);
        display: flex;
        justify-content: center;
    }
    &__img {
        @media (max-width: $break_xl) {
            right: -170px;
        }
        @media (max-width: $break_lg) {
            display: none;
        }
        max-width: 620px;
        position: absolute;
        top: 9%;
        right: -80px;
    }
    &__img-mob {
        @include lg(display, block);
        display: none;
        max-width: 100%;
    }
    &__knowing {
        z-index: 10;
    }
    &__link {
        @media (max-width: $break_md) {
            top: 50%;
            right: 50%;
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
        }
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 31%;
        right: 114px;
    }
    &__knowing-wrp {
        @media (max-width: $break_xl) {
            right: 360px;
            top: 508px;
        }
        @media (max-width: $break_lg) {
            width: 293px;
            padding-right: 16px;
            top: -10px;
            left: 50%;
            right: 50%;
            transform: translateX(-50%) rotate(-4deg);
            &:before {
                content: '';
                width: 1px;
                height: 52px;
                background-color: #000;
                display: inline-block;
                position: absolute;
                right: 50%;
                left: 49.6%;
                transform: translateX(-50%) rotate(5deg);
                top: 38px;
            }
            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 4px 0 4px;
                border-color: #000000 transparent transparent transparent;
                position: absolute;
                right: 50%;
                left: 48.9%;
                transform: translateX(-50%) rotate(5deg);
                top: 87px;
            }
        }
        @media (max-width: $break_sm) {
            top: -10px;
        }
        @media (max-width: $break_xs) {
            top: -28px;
        }
        position: absolute;
        width: 311px;
        top: 470px;
        right: 450px;
        transform: rotate(-4deg);

        background-color: white;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px; 
        padding-right: 34px;
        border-radius: 8px;
    }
    &__paragraph {
        @media (max-width: $break_lg) {
            font-size: 16px;
        }
        margin: 0;
        padding: 0;
        position: relative;
        &::before {
            @media (max-width: $break_lg) {
                left: 49%;
                right: 50%;
                transform: translateY(-50%);
                top: 27px;
                animation: none;
            }
            content: '';
            width: 8px;
            height: 8px;
            display: inline-block;
            background-color: $red;
            border-radius: 50%;
            position: absolute;
            right: -13px;
            top: 50%;
            bottom: 50%;
            transform: translateY(-50%);
            animation: dot 1.3s infinite linear
        }
        span {
            color: red;
        }
    }
    &__button-wrp {
        @media (max-width: $break_md) {
            display: flex;
            flex-direction: column;
        }
    }
}

@keyframes dot {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: $red;
    }
    100% {
        background-color: transparent;
    }
}