nav.nav.nav_header.nav_fixed(data-nav)
    .nav__container
        .nav__inner
            .nav__control.nav__control_menu(data-nav-menu)
                div.nav__control-icon
                    span
                    span
                    span
                h4.nav__control-title
            .nav__logo-wrapper
                +icon('logo', 'nav__logo')
            a.nav__control(class=`ga${g+=1}` href="tel:77473331538")
                +icon('phone', 'nav__control-icon')
                h4.nav__control-title Вызов
            .nav__list-wrapper
                ul.nav__list.nav__list_header
                    each val, index in nav
                        li.nav__item
                            a.nav__link(href=val.href)= val.title
                                <span class="nav__arrow btn__right-icon">
                                    +icon('btn-arrow')
                                </span>
                a.nav__btn.btn.btn_theme_transparent.btn_size_normal(class=`ga${g+=1}` href='tel:77473331538') +7 (747) 333 15 38
                button.nav__btn.nav__btn_modal.btn.btn_theme_filled.btn_size_normal(class=`ga${g+=1}` data-micromodal-trigger="modal-2") Записаться
                    <span class="btn__right-icon">
                        +icon('btn-arrow')
                    </span>
