.accordeon.card.card_pink(data-accordeon)
    .accordeon__header.card.card_pink(data-accordeon-head)
        .accordeon__inner
            h3.accordeon__title
    .accordeon__dropdown(data-accordeon-body)
        .accordeon__inner.accordeon__inner_description
            p.accordeon__description
