extends ../layouts/default
include ../helpers/mixins

include ../../blocks/modules/nav/nav
include ../../blocks/modules/profile/profile
include ../../blocks/modules/socials/socials

block variables
    - const title = "New Page";
    -
        let nav = [
            {
                title: 'О курсе',
                href: '#about'
            },
            {
                title: 'Истории успеха',
                href: '#history'
            },
            {
                title: 'Преподаватель',
                href: '#teacher'
            },
            {
                title: 'Стоимость',
                href: '#price'
            },
            {
                title: 'Гарантии',
                href: '#assurance'
            },
        ];

block content
    header.header.header_no-bg.another-page(id="about")
        +nav-profile()
        //- include ../../blocks/modules/nav/nav
        .header__svg-logo-wrp.header-profile__svg
            a(href="./index.html")
                +icon('logo', 'header__svg-logo', '0 0 92 72')
    main
        include ../../blocks/modules/modal/modal
        +profile1({
            img: 'profile-1'
        })
        +socials
        +b.sign-up
            +e.wrp
                +e.btn.btn.btn_theme_filled.btn_size_normal.ga7(data-micromodal-trigger="modal-4") Хочу так же!
    include ../../blocks/modules/footer/footer
block scripts
    script.
        let timerInfo = {
            course: {
                month: {
                    eng: 'Jun',
                    ru: 'Января'
                },
                date: '15',
                year: '2020',
                time: '18:00',
            },
            master: {
                month: {
                    eng: 'Jul',
                    ru: 'Июля'
                },
                date: '3',
                year: '2020',
                time: '15:00',
            }
        };
    script(src="js/main.js")
    script(src="js/vendor.js")
