.socials {
    @include md(text-align, center);
    @media (max-width: $break_sm) {
        padding-bottom: rem(73);
    }
    &__links {
        @media (max-width: $break_sm) {
            flex-direction: column;
        }
        @include md(justify-content, center);
       display: flex;
       flex-flow: row wrap;
       margin: {
           left: rem(-10);
           right: rem(-10);
       }
    }
    &__link {
        margin: {
            left: rem(10);
            right: rem(10);
        }
    }
    &__link + &__link {
        @include sm(margin-top, rem(16));
    }
    &__title {
        @media (max-width: $break_md) {
            font-size: rem(28);
            line-height: rem(33);
            margin-bottom: rem(8);
            text-align: left;
        }
        margin-bottom: rem(8);
        text-align: left;
    }
    &__subtitle {
        @media (max-width: $break_md) {
            font-size: rem(21);
            line-height: rem(25);
            text-align: left;
        }
        text-align: left;
    }
}
