extends layouts/default
include helpers/mixins
include ../blocks/modules/history/history
include ../blocks/modules/result/result
include ../blocks/modules/assurance/assurance
include ../blocks/modules/price/price
include ../blocks/modules/structure/structure
include ../blocks/modules/teacher/teacher
include ../blocks/modules/faq/faq

block variables
	- const title = "SEO Republic";
	-
		let nav = [
			{
				title: 'Истории успеха',
				href: '#history'
			},
			{
				title: 'Преподаватель',
				href: '#teacher'
			},
			{
				title: 'Гарантии',
				href: '#assurance'
			},
			{
				title: 'Стоимость',
				href: '#price'
			},
		]

block content
	header.header(id="about")
		include ../blocks/modules/nav/nav
		.header__container
			.header__wrapper.header__wrapper_mobile
				.header__info(class="wow animate__fadeInLeft" data-wow-duration="1s")
					h2.header__title Научу зарабатывать от <mark>60 000</mark> до <mark>600 000</mark> тенге ежемесячно, создавая информационные сайты
					h3.header__subtitle Создадим вместе приносящий доход информационный сайт, без технического образования и навыках в сайтах.
					.header__button-wrp
						button.header__btn-mobile.form__send.btn.btn_theme_blue.btn_size_normal(class=`ga${g+=1}` data-micromodal-trigger="modal-1") Записаться на курс
							<span class="btn__right-icon">
								+icon('btn-arrow')
							</span>
				.header__video-wrp
					.header__video
						img.header__img(src="img/notebook-vid.png", alt="Ноутбук" class="wow animate__fadeInRight" data-wow-duration="1s")
						img.header__img-mob(src="img/notebook-vid-mod.png", alt="Ноутбук" class="wow animate__fadeInRight" data-wow-duration="1s")
					.header__knowing
						.header__knowing-wrp
							p.header__paragraph Узнайте все о курсе <span>за одну минуту</span>
					.header__link-wrp
						a.header__link(href="#")
	main
		+history()
		+result()
		+assurance()
		+price()
		+structure()
		+teacher()
		+faq()
		//- include ../blocks/modules/promo-video/promo-video
		include ../blocks/modules/modal/modal
		//- include ../blocks/modules/advantages/advantages
		//- include ../blocks/modules/compare-section/compare-section
		//- include ../blocks/modules/today/today
		//- include ../blocks/modules/bonus/bonus
		//- include ../blocks/modules/patent/patent
		//- include ../blocks/modules/feedback/feedback
		include ../blocks/modules/socials/socials
	include ../blocks/modules/footer/footer
block scripts
	script.
		let timerInfo = {
			course: {
				month: {
					eng: 'Jun',
					ru: 'Января'
				},
				date: '15',
				year: '2020',
				time: '18:00',
			},
			master: {
				month: {
					eng: 'Jul',
					ru: 'Июля'
				},
				date: '3',
				year: '2020',
				time: '15:00',
			}
		};
	script(src="js/main.js")
	script(src="js/vendor.js")
