extends layouts/default
include helpers/mixins

block variables
	- const title = "SEO Republic";
	-
		let nav = [
			{
				title: 'О курсе',
				href: '#about'
			},
			{
				title: 'Истории успеха',
				href: '#history'
			},
			{
				title: 'Преподаватель',
				href: '#teacher'
			},
			{
				title: 'Стоимость',
				href: '#price'
			},
			{
				title: 'Гарантии',
				href: '#assurance'
			},
		]

block content
	header.header(id="about")
		include ../blocks/modules/nav/nav
		.header__container
			.header__wrapper.header__wrapper_mobile
				.header__info(class="wow animate__fadeInLeft" data-wow-duration="1s")
					h2.header__title Научу зарабатывать от <mark>60 000</mark> до <mark>600 000</mark> тенге ежемесячно, создавая информационные сайты
					h3.header__subtitle Создадим вместе приносящий доход информационный сайт, без технического образования и навыках в сайтах.
				.header__form(class="wow animate__fadeInRight" data-wow-duration="1s")
					form.form.form_red(data-activity="Курс")
						+timer('form__timer',0,0,0,'course')
						.form__input.input.input_size_normal
							span.input__info
							input.input__field(placeholder="Ваш номер телефона" name="Телефон" required)
						button.form__send.btn.btn_theme_filled.btn_size_normal(type="submit") Записаться на курс
							<span class="btn__right-icon">
								+icon('btn-arrow')
							</span>
				button.header__btn-mobile.form__send.btn.btn_theme_filled.btn_size_normal(data-micromodal-trigger="modal-1") Записаться на курс
					<span class="btn__right-icon">
						+icon('btn-arrow')
					</span>
				p.header__notify-mobile
					+icon('union-top', 'header__notify-icon')
					| Пролистните вверх
			.header__wrapper
				.header__description(class="wow animate__fadeInUp" data-wow-duration="1.5s")
					include ../blocks/modules/infoblock/infoblock
	main
		include ../blocks/modules/promo-video/promo-video
		include ../blocks/modules/modal/modal
		include ../blocks/modules/advantages/advantages
		include ../blocks/modules/compare-section/compare-section
		include ../blocks/modules/history/history
		include ../blocks/modules/today/today
		include ../blocks/modules/result/result
		include ../blocks/modules/structure/structure
		include ../blocks/modules/bonus/bonus
		include ../blocks/modules/teacher/teacher
		include ../blocks/modules/price/price
		include ../blocks/modules/assurance/assurance
		include ../blocks/modules/patent/patent
		include ../blocks/modules/feedback/feedback
		include ../blocks/modules/faq/faq
		include ../blocks/modules/socials/socials
	include ../blocks/modules/footer/footer
block scripts
	script.
		let timerInfo = {
			course: {
				month: {
					eng: 'Jun',
					ru: 'Января'
				},
				date: '15',
				year: '2020',
				time: '18:00',
			},
			master: {
				month: {
					eng: 'Jul',
					ru: 'Июля'
				},
				date: '3',
				year: '2020',
				time: '15:00',
			}
		};
	script(src="js/main.js")
	script(src="js/vendor.js")
