.infoblock {
    @include md(padding-top, rem(10));
    @include md(padding-bottom, rem(10));
    display: flex;
    flex-wrap: wrap;
    padding: {
        top: rem(32);
        bottom: rem(32);
    }
    background-color: $white;
    border-radius: rem(16);
    box-shadow: 0 rem(4) rem(48) $shadow;
    &__item {
        @include md(width, 100%);
        @include md(padding, rem(35) rem(15));
        position: relative;
        width: 33.3333%;
        padding: rem(5) rem(15);
        text-align: center;

        &:not(:last-child) {
            border-right: {
                width: rem(1);
                color: $red;
                style: solid;
            };

            @include md(border-right, 0);

            &:after {
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translate3d(50%,0,0);
                width: rem(128);
                height: rem(1);
                background-color: $red;

                @include md(content, '');
            }
        }
    }
    &__name {
        @include h4();
        margin-bottom: rem(8);
    }
    &__title {
        @include h3();
    }
}
