.input {
    position: relative;
    width: 100%;
    max-width: rem(400);
    @media (max-width: $break_lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__info {
        @include lg(display, none);
        &:before {
            content: 'i';
        }
        position: absolute;
        top: 50%;
        right: rem(25);
        z-index: 1;
        transform: translate3d(0,-50%,0);
        width: rem(24);
        height: rem(24);
        font-weight: 700;
        color: $border;
        text-align: center;
        line-height: rem(24);
        background-color: $white;
        border: {
            width: rem(1);
            color: $border;
            style: solid;
            radius: 50%;
        }
        cursor: pointer;
        transition: {
            property: background-color, color, border-color;
            duration: .3s;
        }
        will-change: background-color, color, border-color;

        &:hover {
            background-color: $red;
            color: $white;
            border-color: $white;

            .input__tooltip {
                opacity: 1;
            }
        }
    }
    &__field {
        display: block;
        width: 100%;
        text-align: center;
        padding: rem(15) rem(15);
        outline: 0;
        border: {
            width: rem(1);
            color: $red;
            style: solid;
            radius: rem(8);
        }
        @media (max-width: $break_lg) {
            text-align: center;
            &::placeholder {
                color: $red;
            }
            padding: rem(18) rem(15);
        }
        @media (max-width: $break_sm) {
            padding-top: rem(10);
            padding-bottom: rem(10);
        }
    }
    &__label {
        position: relative;
    }
    &__label + &__label {
        margin-top: rem(12);
    }
    &__btn {
        position: absolute;
        top: 50%;
        right: rem(15);
        transform: translate3d(0,-50%,0);

        @media (max-width: $break_lg) {
            @include btn-filled();
            @include btn-normal();
            position: static;
            min-width: rem(180);
            margin-top: rem(15);
            transform: none;
        }
    }
    &_size {
        &_normal {
            max-width: rem(240);
        }
        &_medium {
            max-width: rem(270);
        }
    }
    &_blue {
        .input__field {
            border-color: $blue;

            &::placeholder {
                @media (max-width: $break_lg) {
                    color: $blue;
                }
            }
        }
    }
}
