footer.footer.section(class="wow animate__fadeInLeft" data-wow-duration=`${i=i+.2}s`)
    .section__container
        .section__row
            .section__content
                .footer__content
                    .footer__logo-wrapper
                        +icon('logo', 'footer__logo')
                    nav.nav.footer__nav
                        ul.nav__list.footer__list
                            each val, index in nav
                                li.nav__item.footer__item
                                    a.nav__link.footer__link(href=val.href)= val.title
                        a.btn.btn_theme_transparent.btn_size_small.footer__btn(href='tel:+77473331538') +7 (747) 333 15 38
